h3 {
    margin-top:0;
}
fieldset {
    border: 2px solid grey; 
    padding: 30px;
  }
  
  legend {
    padding: 0 5px; 
    width: auto; 
  }

input{
    margin:10px;
}

label{
    display:inline-block;
    width:120px;
}

button{
    margin-top:20px;
}
  
#alertMsgLogin, #alertMsgRegister{
    background : yellow;
    color:red;
}

#register {
    display:none;
}

a {
    text-decoration:underline;
    cursor:pointer;
    color:blue;
}

#inner-box{
    position:absolute;
    left:50%;
    top: 50%;
}

form {
    width:450px;
}

button{
    display:block;
    margin-left:auto;
    margin-right:auto;

}